* {
    box-sizing: border-box;
    color: white;
}
*.width-wrap {
    margin: auto;
    max-width: 960px;
    padding: 0 2em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: black;
}
footer > hr {
    min-width: 300px;
    max-width: 890px;
    width: 50vw;   
    margin-top: 3em;
    margin-bottom: 2em;
    border: initial;
    border-bottom: 3px dotted black;
}
dl > dt ~ dd:hover{
    background-color: white;
    color: black;
}
body {
    background-color: blueviolet;
    font-family: 'Spectral', serif;
    line-height: 1.3;
}
h1 {
    background-image: linear-gradient(45deg, rgba(50, 17, 77, 1) 0%, rgba(144, 14, 243, 1) 100%);
    background-clip: text;
    color:rgba(0, 0, 0, 0);
}
h2 {
    color: rgb(156, 95, 207);
}
h3 {
    color:rgb(166, 105, 217);
}
a {
    color: rgb(193, 145, 233);
}
header nav a {
    color: rgb(74, 4, 131);
    display: inline-block;
    border-top: 4px solid rgba(255, 255, 255, 0);
    margin: -4px 1em 0 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header nav a:hover {
    border-top: 4px solid rgba(255, 255, 255, 1);
    text-decoration: none;
}
header > nav {
    color: rgb(106, 45, 157);
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3); 
}
::selection {
    background-color: rgba(137, 43, 226, 0.356);
}
header {
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}
header > nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > nav > ul > li {
    justify-content: center;
}
table td, table th {
    padding: 0.3em 1em;   
}
thead th, thead td, tfoot th, tfoot td, tbody th {
    background-color: rgba(255, 255, 255, 0.2);
}
td {
    background-color: rgba(255, 255, 255, 0.05);
}
tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.15);
}
label {
    display: block;
}
form input[type="radio"] + label, form input[type="checkbox"] + label {
    display: inline;
}
[type="submit"] {
    border: none;
    padding: 1em 3em;
    color: black;
    background-color: white;
}
input:invalid {
    background-color: red;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Spectral', serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol {
    list-style-type: upper-roman;
}
iframe {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
fieldset ul {
    list-style-type: none;
    padding: 0;
}
*.bio {
    column-width: 13em;
    column-gap: 2em;
}
table {
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}
img {
    max-width: 100%;  
}
.bio img {
    padding: 2%;
    background-color: white;
    box-shadow: 2px 3px grey;
}
footer {
    font-size: 75%;
    text-align: center;

}
footer + a{
    text-shadow: 1px 1px white;
    display: inline-block;
    position: sticky;
    bottom: 10px;
    margin-left: -25px;
}
footer + a:hover {
    text-decoration: none;
    transition: transform 200ms;
    transform: rotate(45deg);
}
div.favourites > input[type="radio"] + label + div{
    display: none;
    width: 100%;
}
div.favourites > input[type="radio"]:checked + label + div{
    display: block;
}
div.favourites input[type="radio"] {
    display: none;
}
div.favourites {
    display: flex;
    flex-flow: row wrap;
}
div.favourites > label {
   order: -1; 
   margin-left: 1em; margin-right: 1em;
}
div.favourites > input[type="radio"] + label > h3:hover{
    color: red;
}
div.favourites > input[type="radio"]:checked + label > h3 {
    color: white;
}
div.favourites > input[type="radio"]:checked + label + div > *{
    background: rgba(128, 128, 128, 0.3);
}
div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
}
div.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.gallery > .row-span-2 {
    grid-row: span 2;
}
div.gallery > .col-span-2 {
    grid-column: span 2;
}
div.gallery > a:hover {
    transition: transform 200ms;
    transform: scale(1.1);
}
.bio .paperclip {
    background: none;
    box-shadow: none;
    width: 20%;
    position: absolute;
    top: -13px;
    right: -13px;
}
div.bio > a {
    display: inline-block;
    position: relative;
}
@media (max-width: 450px) {
    div.gallery > .col-span-2 {
        grid-column: span 1;
    }    
}
@media (max-width: 550px) { /*px @ before the table breaks*/
    thead, tfoot, th {
        display: none;
    }
    table td {
        display: block;
        padding: 0 1rem;
    }
    table {
        caption-side: top;
    }
    tr > td:first-of-type {
        padding-top: 0.3em;
        font-weight: bold;
    }
    tr > td:last-of-type {
        padding-bottom: 0.3em;
        font-style: italic;
        font-size: 0.8em;
    }
    tr > td:last-of-type::after {
        content: "hrs/wk";
    }
}
@media (max-width: 800px) {
    div.favourites {
        flex-direction: column;
    }
    div.favourites > label{
        order: 0;
    }
}
@media (max-width: 885px) { /*px @ before the nav header unordered list breaks*/
    header > nav > ul {
        flex-direction: column;
        align-items: center;
    }
    header nav a {
        padding-top: 0.5em;
        border-top: none;
    }
    header nav a:hover {
        text-decoration: underline;
        border-top: none;
    }
}
#menu-toggle, .sandwich-icon {
    display: none;
}
@media (max-width: 885px) {
    label.sandwich-icon {
        display: block;
        width: 40px;
        height: 25px;
        border-top: 5px solid white;
        margin-bottom: 1em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        cursor: pointer;
        position: relative;
    }
    label.sandwich-icon::before, label.sandwich-icon::after {
        content: "";
        display: block;
        width: 40px;
        border-top: 5px solid white;
        position: absolute;
    }
    label.sandwich-icon::before {
        top: 5px;
    }
    label.sandwich-icon::after {
        top: 15px;
    }

    #menu-toggle + label.sandwich-icon + ul {
        height: 0;
        overflow: hidden;
        transition: height 200ms;
    }
    #menu-toggle:checked + label.sandwich-icon + ul {
        height: 220px;
    }
}