* {
    box-sizing: border-box;
    color: white;
}
*.width-wrap {
    margin: auto;
    max-width: 960px;
    padding: 0 2em 2em 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: black;
}
footer > hr {
    min-width: 300px;
    max-width: 890px;
    width: 50vw;   
    margin-top: 3em;
    margin-bottom: 2em;
    border: initial;
    border-bottom: 3px dotted black;
}
dl > dt ~ dd:hover{
    background-color: white;
    color: black;
}
body {
    background-color: blueviolet;
    font-family: 'Spectral', serif;
    line-height: 1.3;
}
h1 {
    color: rgba(146, 85, 197, 0);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(146, 85, 197, 1) 100%);
    background-clip: text;
}
h2 {
    color: rgb(156, 95, 207);
}
h3 {
    color:rgb(166, 105, 217);
}
a {
    color: rgb(193, 145, 233);
}
header nav a {
    color: rgb(74, 4, 131);
    display: inline-block;
    border-top: 4px solid rgba(255, 255, 255, 0);
    margin: -4px 1em 0 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header nav a:hover {
    border-top: 4px solid rgba(255, 255, 255, 1);
    text-decoration: none;
}
header > nav {
    color: rgb(106, 45, 157);
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3); 
}
::selection {
    background-color: rgba(137, 43, 226, 0.356);
}
header {
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}
header > nav > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
header > nav > ul > li {
    justify-content: center;
}
table td, table th {
    padding: 0.3em 1em;   
}
thead th, thead td, tfoot th, tfoot td, tbody th {
    background-color: rgba(255, 255, 255, 0.2);
}
td {
    background-color: rgba(255, 255, 255, 0.05);
}
tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.15);
}
label {
    display: block;
}
input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline;
}
[type="submit"] {
    border: none;
    padding: 1em 3em;
    color: black;
    background-color: white;
}
input:invalid {
    background-color: red;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Spectral', serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol {
    list-style-type: upper-roman;
}
iframe {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
fieldset ul {
    list-style-type: none;
    padding: 0;
}
*.bio {
    column-count: 3;
    column-gap: 2em;
}
table {
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}
img {
    max-width: 100%;  
}
.bio img {
    padding: 2%;
    background-color: white;
    box-shadow: 2px 3px grey;
}
footer {
    font-size: 75%;
    text-align: center;

}
footer + a{
    text-shadow: 1px 1px white;
}
footer + a:hover {
    text-decoration: none;
}
div.favourites > input[type="radio"] + label + div{
    display: none;
    width: 100%;
}
div.favourites > input[type="radio"]:checked + label + div{
    display: block;
}
div.favourites input[type="radio"] {
    display: none;
}
div.favourites {
    display: flex;
    flex-flow: row wrap;
}
div.favourites > label {
   order: -1; 
}
div.favourites > input[type="radio"] + label > h3:hover{
    color: red;
}
div.favourites > input[type="radio"] + label > h3:active{
    color: white;
}
div.favourites > input[type="radio"]:checked + label + div > *{
    background: rgba(128, 128, 128, 0.3);
}
div.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
div.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.gallery > .row-span-2 {
    grid-row: span 2;
}
div.gallery > .col-span-2 {
    grid-column: span 2;
}
div.gallery > a:hover {
    transform: scale(1.1)
}
img.paperclip {
    background: none;
    box-shadow: none;
}
.paperclip {
    width: 20%;
    position: absolute;
    top: 0;
}
div.bio > a {
    display: block;
}